.projectsIntro-main-section {
    padding: 140px 24px 4px 24px;
}

.pageIntro-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section-child-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bread-crumb {
    display: flex;
    gap: 6px;
    font-size: 17px;
}

.first-section-child-1 h1 {
    font-size: 48px;
    max-width: 80%;
    text-transform: uppercase;
    font-family: Playfair Display, Playfair Display-400;
    font-weight: 400;
}


@media (max-width: 1024px) {
    .projectsIntro-main-section {
        padding: 120px 50px 4px 50px;
    }

    .first-section-child-1 h1 {
        font-size: 28px;
        max-width: 100%;
    }

    .first-section-child-2 h1,
    .first-section-child-2 h1 span {
        font-size: 65px;
    }
}

@media (max-width: 768px) {
    .projectsIntro-main-section {
        padding: 100px 24px 4px 24px;
    }

    .pageIntro-first-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .first-section-child-1 h1 {
        font-size: 26px;
    }

    .first-section-child-2 {
        display: none;
    }

    .bread-crumb {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .projectsIntro-main-section {
        padding: 90px 16px 4px 16px;
    }

    .first-section-child-1 h1 {
        font-size: 22px;
    }

    .first-section-child-2 h1,
    .first-section-child-2 h1 span {
        font-size: 46px;
    }
}