.services-main-section {
    padding: 140px 24px 4px 24px;
    max-width: 1600px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .services-main-section {
        padding: 120px 40px 40px 40px;
    }
}

@media (max-width: 768px) {
    .services-main-section {
        padding: 100px 24px 40px 24px;
    }
}

@media (max-width: 480px) {
    .services-main-section {
        padding: 90px 16px 32px 16px;
    }
}